# Payment Service
PORT=8084
DATABASE_URL=postgres://auron:auron_pass@localhost:5435/payments_db?sslmode=disable
REDIS_URL=redis://localhost:6379/0
KAFKA_BROKERS=localhost:9092
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
GORM_LOG_LEVEL=warn
