# Order Service
PORT=8083
DATABASE_URL=postgres://auron:auron_pass@localhost:5434/orders_db?sslmode=disable
REDIS_URL=redis://localhost:6379/0
KAFKA_BROKERS=localhost:9092
PRODUCT_SERVICE_URL=http://localhost:8082
GORM_LOG_LEVEL=warn
